@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-element {
  opacity: 1; /* Start with full opacity */
  transition: opacity 2s ease-in-out; /* Define the transition */
}

.fade-element.fade-out {
  opacity: 0; /* Fade to zero opacity */
}
